<configuration>

    <logger name="org.apache" level="WARN"/>
    <logger name="httpclient" level="WARN"/>

    <property name="LOG_DIR" value="${user.dir}/log"></property>

    <appender name="colorAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/ui-test.log</file>
        <encoder>
            <pattern>
                %-4relative [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/ui-tests.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <root level="debug">
        <appender-ref ref="colorAppender"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
